@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
	--text-color: #018008;
	--menu-color: #068f28;
	--body-color: #f3e8e8ee;
	--hover-color: #EB9B07;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	margin: auto;
	max-width: 1200px;
}
.justify-content{
	justify-content: space-evenly;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.menu-contact img{
	width: 300px;
}
.id {
	display: inline-block;	
	margin-top: 20px;
	margin-bottom: 20px;
}
.contact {
	position: relative;
	left: 0;
	margin-bottom: -20px;
}
.contact a{
	color: var(--text-color);
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	text-shadow: 5px 5px 5px rgb(219, 164, 13);
	border-right: 2px solid green;
}
.logo {
	width: 100px;
}
.list{
	display: flex;	
	justify-content: space-evenly;
	padding: 0 0 10px 0;
}
.menu-item .menu-cart{
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu-item a{
	color: var(--text-color);
	text-shadow: 5px 5px 5px rgb(219, 164, 13);
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}
.menu-cart a, i{
	color: var(--text-color);
	text-shadow: 5px 5px 5px rgb(219, 164, 13);
	font-family: 'Pacifico', cursive;
	font-size: 35px;
}